<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project2mobdat">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project2MobDat">

        <activity android:name=".SdmtTest.SDMTTestActivity"
            android:exported="false" />
        <activity android:name=".SdmtTest.SDMTTestResultActivity"
            android:exported="false" />
        <activity android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".AD8TestActivity"
            android:exported="false" />
        <activity android:name=".AD8TestResultActivity"
            android:exported="false" />
        <activity android:name=".SevenMinuteTest.TestResultActivity"
            android:exported="false" />
        <activity android:name=".SevenMinuteTest.SevenMinuteTestActivity"
            android:exported="false" />
        <activity android:name=".SevenMinuteTest.VerbalFluencyActivity"
            android:exported="false" />
        <activity android:name=".SevenMinuteTest.ClockDrawingActivity"
            android:exported="false" />
        <activity android:name=".SevenMinuteTest.EnhancedCuedRecallActivity"
            android:exported="false" />
        <activity android:name=".TemporalOrientationActivity"
            android:exported="false" />
        <activity android:name=".RegisterLogin.HomeActivity"
            android:exported="false" />
        <activity android:name=".RegisterLogin.LoginActivity"
            android:exported="false" />
        <activity android:name=".RegisterLogin.RegisterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
